body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F9F6F1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0c0c0c;
    color: white;
    padding: 15px 20px;
    height: 70px;
    border-radius: 15px;
    margin: 40px;
}
.logo{
display: inline-flex;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.img-logo{
 width: 50px;
 height: 50px;
}

.nav {
    /* color: #f3c623; */
   margin-left: 150px;
   flex-grow: 1;
    
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    /* background-color: #333; */
  }
  
 .nav li {
    float: left;
  }
  
 .nav li a {
    /* display: block; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    
.nav li a:hover {
color: #EBD379;
font-family: "Clash Display Variable";
font-size: 18px;
font-style: normal;
font-weight: 400;
 /* line-height: 27px; 150% */
letter-spacing: 0.36px;;
  }


.profile {
    display: flex;
    float: right;
    align-items: right;
    gap: 15px;
    margin-left: auto;
}
.streak{
    display:flex;
    /* padding: 20px 29px 7px 59px; */    
   justify-content: center;
    /*  align-items: flex-start;*/
    border-radius: 5px; 
    border: 1px solid #E1E6EF; 
}
.streak-text{
     border-radius: 0px 5px 5px 0px; 
    border: 1px solid #E1E6EF;    
    /* opacity: 0.3; */
    background: #0c0c0c;
    width: 200px;   
    justify-content: center;
    align-items: center;
    text-align: center;   
   
}
.daily-text{   
    color: #EBD379;
    font-family: "Clash Display Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.36px;
}
.complete-text{   
    color: #E1E6EF;
    font-family: "Clash Display Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.36px;
}
.star{   
    color: #132F67;    
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px 0px 0px 5px;
    background: #E1E6EF;
}
.star>img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}



.sidebar {
    position: absolute; /* Keep it outside the flow */
    left: 40px; /* Align with margin */
    top: 175px; /* Adjust so it's below the header */
    border-radius: 15px;
    background: #132F67;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 120px;
    height: 620px;
    flex-shrink: 0;
}

.container {
    display: flex;
    margin-left: 180px; /* Shift right to avoid overlapping the sidebar */
    /* height: calc(100vh - 80px); */
    height:100%;
}
.content {
    flex: 1;
    padding: 20px;
    background: white;
    margin-right: 40px;
    border-radius: 10px;
}
.breadcrumb {
    /* color: #888;
    font-size: 14px;
    margin-bottom: 10px; */
color: #132F67;
font-family: "Clash Display Variable";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 100% */
letter-spacing: 0.36px;
}

.session-status{
    display: flex;
    width: 220px;
    padding: 9px 20px 15px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #F2E6B9;
    position: absolute;
    position: fixed;
    top: 200px;
    right: 55px;  
    z-index: 9;   
     
}
.status-text{
    color: #132F67;
    font-family: "Clash Display Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.36px;
    text-align: right;
}
.in-progress{
    /* display: flex; */ 
    width: 200px;
    height: 48px;
    padding: 18px;
    justify-content: left;
    align-items: left;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #132F67;
    
}
.progress-text{
color: #96FFDA;
font-family: "Clash Display Variable";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
letter-spacing: 0.36px;
text-align: left;
}

.progress-text>img{
    width: 4px;
height: 4px;
flex-shrink: 0;
}
.progress-time{
    color: #EBD379;
    font-family: "Clash Display Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.36px;
    text-align: left;
}

.lesson-box {
    margin-top: 70px;
    background: #F7FAFF;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    position: relative; 
    text-align: justify; 
    
}
.speech-box {      
    background: #eef1f6;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
    margin-top: 10px;
    /* display:none; */
   
}

.lesson-label {
    border-radius: 5px;
    background: #132F67;
    color: white;
    padding: 8px 12px; 
    position: absolute;
    top: -20px;
    left: 2px; 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
  color: #E1E6EF;
font-family: "Clash Display Variable";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 100% */
letter-spacing: 0.36px;
  
}
.controls {
    display: flex;
    width: 1200px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 0px 0px 15px 15px;
    background: linear-gradient(0deg, #F7FAFF 42.01%, rgba(247, 250, 255, 0.00) 100%);

}
.script-size{   
    display: flex;
    width: 194px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 0px 0px 0px 15px;
    background: #132F67;

    color: #E1E6EF;

font-family: "Clash Display Variable";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 100% */
letter-spacing: 0.36px;
}
.more{   
    display: flex;
    width: 194px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 0px 15px 0px 0px;
    background: #132F67;

    color: #E1E6EF;

font-family: "Clash Display Variable";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 100% */
letter-spacing: 0.36px;
}

.begin-record{
    display: flex;
    justify-content: space-between;
}
.begin-test, .attempts{
    width: 194px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 15px;
    font-size: 14px;
    background: #F2E6B9;
    color: #132F67;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Ensures text is centered */
}


.microphone {   
    width: 788px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 6px solid #EBD379;
    background: #132F67;
    display: flex;   
    justify-content: center;
    align-items: center; 
    
}
.microphone>img{
    width: 27px;
    height: 42px;
    flex-shrink: 0;
    aspect-ratio: 9/14;
    stroke-width: 3px;
    stroke: #EBD379;    
}


.footer {
    border-radius: 15px;
    background: #EBD379;
    padding: 10px;
    text-align: center;
    margin: 40px;
    height: 120px;
}